@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  background-color: #05386b !important;
  color:  #EDF5E1 !important;
  -moz-box-shadow:    inset 0 0 30px #112d32;
   -webkit-box-shadow: inset 0 0 30px #112d32;
   box-shadow:         inset 0 0 30px #112d32;
   font-family: 'Montserrat';
  
}

.navbar{
  height: 150px;
}

.navbar-brand{
  font-weight: bold;
  color: #d1e8e2 !important;
}

.nav-link{
  color: #d1e8e2 !important;
}

.nav-link:hover{  
  color: #5cdb95 !important;
  text-shadow:  0.01rem 0.05rem #379683;
  font-weight: bold;
}

.cover-container{
  max-width: 42em;
  height: 85vh;
  text-shadow: 0 .01rem .1rem rgba(143, 143, 143, 0.5);
}

.card{
  box-shadow: 0 .3rem 0.8rem rgba(80, 80, 80, 0.5);
}

.card .hide{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.4s linear; 
  transition: visibility 0s, opacity 0.4s linear;
}

.card:hover .hide{
  visibility:visible;  
  opacity: 1;
}

.card-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px ;
}

.card-text{
  color: #05386b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px ;
  font-weight: lighter;
}

.card-btn{
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-self: center;
  font-size: 14px !important;
}

.img-fluid{
  color: none;
}

.card:hover img{
  color: #05386b;
  opacity: 0.15;
  box-shadow: 10px 10px 10px black;
}


.text-about{

  font-size: 16px;
  text-align: justify;
}

.main-text{
  font-size: 52px;
  font-weight: bold;
}

.footer{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid #d1e8e2;

}

.logos-footer{
  display: flex;
  flex-direction: row;
  
}

.footer-title{
  margin-top: 30px;
  font-size: 16px;
  font-weight: bolder;
  color: #d1e8e2;
}

.github{
  font-size: 35px;
  margin: 10px;
  color: #112d32;
  
}
.github:hover{
  color: #5cdb95 ;
}

.linkedin{
  margin: 10px;
  font-size: 35px;
  color: #112d32;
}

.linkedin:hover{
  color: #5cdb95 ;
}

.text-contacto{
  text-align: justify;
}

.logo-experience{
  
  font-size: 56px;
}

.btn{
  border: 0.05rem solid #5cdb95 !important;
  background-color: #379683 !important;
  color: white !important;
  justify-content: center;
  
}

.btn:hover{
  border: 0.05rem solid #379683 !important;
  background-color: #5cdb95 !important;
  color: #05386b !important;
  justify-content: center;
}

.porta-image{
 
  display: flex;
  border-radius:50%;
  height: 500px !important;
  width: 500px;
  object-fit: cover;
  
  align-items: center;
  justify-items: center;
  
}

.title-section{
  font-weight: bold;
}